*{
    margin:0;
    box-sizing:border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;

}
.calculator{
    background:#8478f0;
    border-radius:3px;
    padding:30px;
    box-shadow: 0 2px 100px rgba(0,0,0,0.5);
    width:300px;
    
}
.display{
    background:rgb(246, 241, 243);
    color:black;
    padding:20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align:right;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-value{
    font-size:15px;
    color:black;
    min-height:20px;
}
.current-value{
    font-size: 20px;
    color:black;
    font-weight:bold;
    min-height:30px;
}
.clear{
    display:inline-block;
    grid-column:span 4;
    padding:10px;
    align-content: right;

    
}
.buttons{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
}
.button{
    padding:20px;
    font-size:30px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: bolder;
}
button:hover{
    transform: translate(3px);

}
button:active{
    transform: translateY(0);
}
.number{
    background: #dcd3f0;
    color:black;
}
.operator{
    background: #7879ce;
}
.clear{
    background:rgb(9, 20, 231);
}
.zero{
      grid-column:span 2;
    }


