* {
    margin: 3px;
     padding: 4px;
}
body{
    margin:0;
    padding:0;
     background-image: url('image2.jpg.jpg');
    background-size: cover;
    background-position: center;
   
    background-attachment: fixed;
}
.navbar {
    width: 100%;
    height: 150px;
    margin: auto;
}

.icon {
    width: 180px;
    float: left;
    height: 90px;
}

.logo {
    color: rgb(75, 209, 238);
    font-size: 40px;
    font-family: Helvetica;
    font-style:italic;
    padding-left: 10px;
    float: left;
    padding-top: 20px;
}

.menu {
    width: 300px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 65px;
    margin-top: 28px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease;
}
.auth{
    display: flex;
    align-items: buttom;
    margin-top: 10px;

}
.login{
    margin-left: 1200px;
    text-decoration: none;
    color:#333;
    font-size: 20px;
    padding-left: 4px;
    margin-top: 10px;
    gap:10px;
}
.signup{
    display:flexbox;
    padding:8px 16px;
    border:none;
    background:black;
    border-radius: 6px;
    cursor:pointer;
    font-size: 20px;
    color:#ffffff;
    margin-top: auto;
}
.content{
    display:flex;
    align-items: center;
    padding:50px 70px;
}
.content-text{
    width:40%
}
.content-text h1{
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.content-text p{
    font-size: 20px;
    margin-bottom: 20px;
}
.content-img{
    width:60%;
    display:flex;
    justify-content: center;
}
.content-image img{
    width:70%;
    border-radius: 20px;
}